streamlit

groq
python-dotenv

opencv-python-headless==4.8.0.76
pytesseract==0.3.10

Pillow==10.2.0
numpy==1.24.3

fuzzywuzzy==0.18.0
python-Levenshtein==0.21.1

matplotlib==3.7.2

ultralytics==8.0.196

easyocr

torch
torchvision

paddleocr==2.7.3
paddlepaddle==2.6.2